.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: black;
    color: white;
  }
  
  .title {
    display: flex;
    align-items: right;
    text-align: left;
    padding: 2px;
  }
  
  .title img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    padding: 5px;
  }
  
  .buttons {
    position: absolute;
    flex-direction: row;
    gap: 0px;
    color: #007bff;  
    align-items: center;
  }

  .buttons button {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: smaller;
  }
  
  .actividad-form button {
    margin: 0 4px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.actividad-form button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.actividad-form {
  padding: 20px;
  width: 400px;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
  font-size: medium;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.actividad-buttons {
  position: absolute;
  top: 100px;
  left: 62px;
  width: 10%;
  background-color: #007bff;
  text-align: center;
  padding: 10px 0;
  margin: 0 4px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actividad-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
  

  