@font-face {
    font-family: 'Brothers-Bold.otf';
    src: url('../fonts/Brothers-Bold.otf');
}

.contacto-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}


.logoCon img {
    filter: brightness(60%);
    width: 250px;
    margin-top: 100px;
    margin-left: 300px;
}

.iconosRedsocial {
    margin-left: 280px;
}

.iconosDescarga {
    margin-left: 336px;
}

.logoCon {
    display: flex;
    margin-bottom: 50px;
}

.iconosRedsocial,
.iconosDescarga {
    margin-bottom: 50px;
}

.iconosRedsocial .contacto-icono,
.iconosDescarga .contacto-icono {
    display: inline-block;
    margin-right: 15px;
    color: #4e4c4c;
    transition: color 0.3s ease;
}

.iconosRedsocial .contacto-icono:hover,
.iconosDescarga .contacto-icono:hover {
    color: #007bff;
}

.TitulosR {
    font-family: 'Brothers-Bold.otf', sans-serif;
    font-size: large;
    margin-left: 120px;
    margin-bottom: 20px;
}

.contacto-icono:hover {
    color: #007bff;
}

.contacto-formulario {
    margin-top: 100px;
    color: #000000;
    text-align: center;
    font-family: 'Brothers-Bold.otf', sans-serif;
    padding: 20px;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 100px;

}

.contacto {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    width: 100%;
    align-items: center;
}

.contact-form {
    margin-right: 350px;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    color: black;
    text-align: center;
    width: 100%;
}

.areaDesCon {
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 180px;

}

.contacto-formulario h2 {
    margin-bottom: 20px;
    color: white;
    margin-left: 190px;
}

.contacto-formulario button {
    margin-left: 170px;
}

.form-group-contac input[type="text"],
.form-group-contac input[type="email"] {
    text-align: left;
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
}

.form-group-contac {
    margin-bottom: 20px;
    text-align: center;
    font-size: medium;
    color: white;
    width: 400px;
}

.form-group-contac label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-group-contac input,
.form-group-contac textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
}

.form-group-contac textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}



.BotonEnviar button {
    background-color: #007bff;
    color: white;
    width: 150%;
}

.columna-1 {
    width: 60%;
}

.columna-3 {
    width: 40%;
}