@font-face {
    font-family: 'Brothers-Bold.otf';
    src: url('../fonts/Brothers-Bold.otf');
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Brothers-Bold.otf', sans-serif;
}

.profile-form {
    padding: 20px;
    width: 500px;
    background-color:black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: center; 
    font-size: medium;
    color: white
}

.form-group label{
    text-align: left; 
}
.perfil{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    width: 100%;
    align-items: center;
    
}

h1{
    font-size: large;
}

.profile-form input[type="text"],
.profile-form input[type="email"] {
    color: black;
    text-align: center;
}

.profile-form button {
    margin: 0 4px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.profile-form button[type="submit"] {
    background-color: #007bff;
    color: white;
}

.profile-form button[type="button"] {
    background-color: #ff0000;
    color: white;
}
