@font-face {
    font-family: 'Brothers-Bold.otf';
    src: url('../fonts/Brothers-Bold.otf');
}

.tablaRes {
    margin: 100px;
    color: black;
  }
  

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Brothers-Bold.otf';
  }

  th {
    background-color: 	#1E90FF;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  

  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  

  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
 
  tbody tr:hover {
    background-color: lightgrey;
  }
  
  .buttons2 {
    position: absolute;
    top: 100px;
    left: 260px;
    width: 9%;
    background-color: #007bff;
    text-align: center;
    padding: 10px 0;
    margin: 0 4px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Brothers-Bold.otf';
  }

  .buttons3 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 9%;
    background-color: orange;
    text-align: center;
    padding: 10px 0;
    margin: 0 4px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Brothers-Bold.otf';
  }

  .buttons4 {
    position: absolute;
    top: 100px;
    left: 420px;
    width: 9%;
    background-color: gray;
    text-align: center;
    padding: 10px 0;
    margin: 0 4px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Brothers-Bold.otf';
  }